.nav {
  background-color: rgb(208, 213, 105);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: rgb(230, 137, 121);
  font-weight: 800;
}

.nav :hover {
  scale: 1.2;
  transition-duration: 0.7s;
  cursor: pointer;
  /* color: cadetblue; */
}
